.mbtn{
    width: auto;
    height: 30px;
    
    margin-left: 15px;
    line-height: 0px !important;
}

.ll{
    font-size: 30px;
    color:rgb(211, 211, 211);
    margin-left: 40px;
    
}
.locInfo{
    background-color:#032544;
    width: 30%;
    margin: auto;
    border-radius: 50px;
}