body {
   
    font-family: 'Open Sans', sans-serif;
  }

  ul{
    list-style-type: none;
  }

  .card {
    
    height: 500px;
    width: 30%;
    background-color: #032544;
    border-radius: 7%;
    display: flex;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    float: left;
    margin-right: 2.5% !important;
    left: 2.4%;
    margin-bottom: 40px;
    
  }
  
 
  
  .card:hover {
    transform: scale(1.03, 1.03);
    transition: 0.2s ease-out;
  }
  

  

  .ct{
    color: rgb(199, 196, 196);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  
  }
  .c {
    
    width: 60%;
    padding: 0;
  }

  

.nebtn{
    width: auto;
    height: 17px;
    font-size: 10px !important;
    margin-left: 3%;
    line-height: 0px !important;
}

.pbtn{
    width: auto;
    height: 17px;
    font-size: 10px !important;
    margin-left: 3%;
    line-height: 0px !important;
}

.mg{
  margin-bottom: 10px;
}
.tm{
  margin-top: 15px;
}
  

  
 
  

  
 
  
 