body {
    background-color: #f0eff1;
    font-family: 'Open Sans', sans-serif;
  }

  ul{
    list-style-type: none;
  }
  .c {
    
    width: 60%;
    padding: 0;
  }

  .ct{
    color: rgb(199, 196, 196);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
  }
  .card {
    
    
    background-color: #502b9b;
    border-radius: 7%;
    display: flex;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    float: left;
    ;
  
    margin-right: 2.5% !important;
    
    margin-bottom: 40px;
  } 
  .cpo{
    left: 2.4% !important;
    
  }

  
 
  
  .card:hover {
    transform: scale(1.03, 1.03);
    transition: 0.2s ease-out;
  }
  

  



  .sbtn {
    width: auto;
    height: 15px;
    font-size: 10px !important;
    margin-left: 0%;
    line-height: 0px !important;
    
}
.mg{
  margin-bottom: 10px;
}
.tm{
  margin-top: 15px;
}
  

  
 
  

  
 
  
 